# Step1
### Import pandas
### Decide the values 'n' , 'K' , and 'start_point'

In [1]:
import pandas as pd
attribute=['Winner','Loser','ELO Change','Alice','Bobby','Candy','Duran']
n=50
K=5
start_point=200

# Step2
## Define the function for Score Estimation.

In [2]:
def elo_e(Ra,Rb):
    return 1/(1+(10**((Rb-Ra)/n)))

def elo(winner,loser,df):
    
    game=pd.DataFrame(columns=attribute)
    game[attribute[0]]=[winner]
    game[attribute[1]]=[loser]
    game[attribute[3]]=[df[attribute[3]][df.shape[0]-1]]
    game[attribute[4]]=[df[attribute[4]][df.shape[0]-1]]
    game[attribute[5]]=[df[attribute[5]][df.shape[0]-1]]
    game[attribute[6]]=[df[attribute[6]][df.shape[0]-1]]
    
    E_winner=elo_e(game[winner],game[loser])
    E_loser=elo_e(game[loser],game[winner])
    
    game[winner]=game[winner]+K*(1-E_winner)
    game[loser]=game[loser]+K*(0-E_loser)
    game[attribute[2]]=df[loser][df.shape[0]-1]-game[loser]
    return game

# Step3
## Create a tabular form using datafram.

In [3]:
df=pd.DataFrame(columns=attribute)
for x in range(7):
    if x<3:
        df[attribute[x]]=[None]
    else:
        df[attribute[x]]=[start_point]
df[attribute[2]]=[0]
df

  Winner Loser  ELO Change  Alice  Bobby  Candy  Duran
0   None  None           0    200    200    200    200

# Step4
## Input the game results.
### This cell can be run again, if you want to add a new results.

In [7]:
while 1:
    winner=input("Enter the Winner\nA(lice)/B(obby)/C(andy)/D(uran):")
    if winner=="A":
        winner="Alice"
    elif winner=="B":
        winner="Bobby"
    elif winner=="C":
        winner="Candy"
    elif winner=="D":
        winner="Duran"
    if winner=="Alice" or loser=="Bobby" or loser=="Candy" or loser=="Duran":
        break
    else:
        print("No player named "+winner+" Please try again")

while 1:
    loser=input("Enter the Loser\nA(lice)/B(obby)/C(andy)/D(uran):")
    if loser=="A":
        loser="Alice"
    elif loser=="B":
        loser="Bobby"
    elif loser=="C":
        loser="Candy"
    elif loser=="D":
        loser="Duran"
    if loser=="Alice" or loser=="Bobby" or loser=="Candy" or loser=="Duran":
        break
    else:
        print("No player named "+loser+" Please try again")


new_game=elo(winner,loser,df)

df=df.append(new_game,sort=False)
df=df.reset_index(drop=True)
df

Enter the Winner
A(lice)/B(obby)/C(andy)/D(uran):A
Enter the Loser
A(lice)/B(obby)/C(andy)/D(uran):D

  Winner  Loser  ELO Change       Alice  Bobby  Candy       Duran
0   None   None    0.000000  200.000000  200.0  200.0  200.000000
1  Alice  Candy    2.500000  202.500000  200.0  197.5  200.000000
2  Alice  Duran    2.356247  204.856247  200.0  197.5  197.643753

# Step5
## Drop the latest 1 game result.
### This cell can be run again if you want to drop another latest game result.

In [9]:
if df.shape[0]-1!=0:
    df=df.drop(df.shape[0]-1)
    df=df.reset_index(drop=True)
else:
    print("There is no any game result.")
df

  Winner Loser  ELO Change  Alice  Bobby  Candy  Duran
0   None  None         0.0  200.0  200.0  200.0  200.0